body {
    /* background-color: #ededed; */
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin: 0;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-image: url(../images/jess-watters-555452-unsplash.jpg);
    width: 1500px;
    height: 800px;

    background-size: cover;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: relative;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 auto;
    width: 800px;
}

h1 {
    background-color: #bbb9b9;
    opacity: 0.7;
    font-size: 2em;
    padding: 30px;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    background-color: #bbb9b9;
    opacity: 0.7;
    margin: 0 auto;
    padding: 30px;
    margin: auto;
    width: 290px;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

.container {
    width: 60%;
    margin: 0 auto;
}

label {
    margin-top: 17px;
}

input {
    display: block;
    margin: auto;
    padding: 13px;
    border: 1px solid #ffffff;
}

#submit {
    background-color: #5c64f8;
    color: #ffffff;
    border-radius: 15px;
    border: 1px solid #5c64f8;
    margin-top: 17px;
}

#submit:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #5c64f8;
    transition: 0.5s;
}

#submit:active {
    border: 1px solid #5c64f8;
    padding: 15px;
    font-size: 1.2em;
    background-color: #5c64f8;
    transition: 0s;
    color: #ffffff;
}

@media only screen and (max-width: 925px){
    .content {
        width: 95%;
    }

    h1 {
        width: 90%;
    }

    form {
        width: 80%;
    }
}

@media only screen and (max-width: 625px){
    .content {
        width: 95%;
    }

    h1 {
        width: 90%;
    }

    form {
        width: 80%;
    }
}