body {
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin: 0;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-image: url(../images/jess-watters-555452-unsplash.jpg);
    width: 1500px;
    height: 800px;

    background-size: cover;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0;
}

nav,
nav a {
    background-color: #5c64f8;
    color: #ffffff;
    padding: 25px;
    text-decoration: none;
    margin-right: 0%;
}

nav a:hover {
    color: #5c64f8;
    cursor: pointer;
    background-color: #ffffff;
}

.active {
    background-color: #ffffff;
    color: #5c64f8;
}

h1 {
    background-color: #bbb9b9;
    opacity: 0.7;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    padding: 30px;
}

.container a {
    display: block;
    opacity: 0.7;
    text-decoration: none;
    text-align: left;
    border: 1px solid #bbb9b9;
    margin: auto;
    width: 50%;
    margin-top: 30px;
    padding: 15px;
    background-color: #bbb9b9;
    color: #5c64f8;
}

footer {
    font-size: 0.8em;
    margin-top: 20px;
}

.tasks {
    width: 20%;
}

#delete-btn {
    background-color: darkred;
    color: #ffffff;
    padding: 15px;
}

#delete-btn:hover {
    background-color: #ffffff;
    color: darkred;
    cursor: pointer;
    transition: 0.6s;
    border-color: darkred;
}