<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To-Do My Lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/todo.css" />
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <nav class="navbar">
        <a href="../templates/home.html">Home</a>
        <a class="active" href="../templates/my-lists.html">My Lists</a>
        <a href="../templates/profile.html">Profile</a>
    </nav>
    
</body>

</html>