<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To-Do My Lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/my-lists.css" />
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <div class="background-image"></div>
    <div class="content">
        <nav class="navbar">
            <a href="../templates/home.html">Home</a>
            <a class="active" href="../templates/my-lists.html">My Lists</a>
            <a href="../templates/profile.html">Profile</a>
            <a href="../templates/login.html">Log Out</a>
        </nav>
        <div class="container">
            <h1>All Your To-Do Lists</h1>
            <div class="task">
                <a href="../templates/home.html">Today's List</a>
                <input id="delete-btn" type="button" value="Delete List">
            </div>
            <div class="task">
                <a href="../templates/home.html">Some other new list</a>
                <input id="delete-btn" type="button" value="Delete List">
            </div>
        </div>
        <footer>
            To-Do App Inc. 2018
        </footer>
    </div>

</body>

</html>